.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  font-size: 25px;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.welcome-header__text {
  width: 70%;
  opacity: 0.5;
  font-size: 17px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  font-size: 20px;
  border: none;
  margin-bottom: 35px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  cursor: pointer;
  padding: 17px 0px;
  border-radius: 5px;
  margin-bottom: 15px;
  background: radial-gradient(
    circle at 50% 50%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #295aeb 90%
  );
}

#login-form input[value="Sign Up"] {
  margin-bottom: 22px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}
