.alt-header {
    padding: 15px 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alt-header__title {
    font-size: 23px;
    font-weight: 700;
}

.alt-header__column-chat {
    position: relative;
}

.glass-chat {
    position: absolute;
    margin-left: -50px;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column i {
    font-size: 27px;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
