.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 28px;
  object-fit: cover;
  margin-right: 15px;
}

.user-component__title {
  font-weight: 700;
  font-size: 21px;
}

.user-component__title--sm {
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size: 21px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-weight: 500;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 500;
  font-size: 20px;
}

.user-component__column:last-child {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 17px;
}

.user-component__column:last-child i {
  font-size: 13px;
  margin-bottom: 2px;
  margin-left: 15px;
}

.user-component__column--chats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__column--chats div {
  font-weight: 500;
  font-size: 14px;
}

.user-component__time {
  margin-bottom: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  display: block;
}
